cscope.files
cscope.out
index.*
.libs/
.deps/
.dirstamp

Makefile
btree
chash.test
config.log
config.status
hashtime
lcrand.test
libtool
libzet.la
mime.test
mlparse.test
mlparse_wrap.test
objalloc.test
poolalloc.test
psettings_gen
psettings_gen.test
setup.py

zet
zet_cat
zet_dict
zet_diff
zet_file
zet_impactify
zet_trec

staticalloc.test
stem.test
stop_gen
